/*
	Select2
	Version: @@ver@@ Timestamp: @@timestamp@@
*/
/* line 12, SCSS/select2.scss */
.select2-container {
  position: relative;
  display: inline-block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  vertical-align: top;
}

/* line 24, SCSS/select2.scss */
.select2-container,
.select2-drop,
.select2-search,
.select2-search input {
  	/*
  	Force border-box so that % widths fit the parent
  	container without overlap because of margin/padding.
  
  	More Info : http://www.quirksmode.org/css/box.html
  	*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 35, SCSS/select2.scss */
.select2-container .select2-choice {
  display: block;
  height: 26px;
  padding: 0 0 0 8px;
  overflow: hidden;
  position: relative;
  border: 1px solid #aaa;
  white-space: nowrap;
  line-height: 26px;
  color: #444;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #eeeeee), color-stop(50%, #ffffff));
  background: -webkit-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
  background: -moz-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
  background: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
  background: linear-gradient(bottom, #eeeeee 0%, #ffffff 50%);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF');
}
/* line 53, SCSS/select2.scss */
.select2-container .select2-choice span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 63, SCSS/select2.scss */
.select2-container .select2-choice abbr {
  display: block;
  width: 12px;
  height: 12px;
  position: absolute;
  right: 26px;
  top: 8px;
  font-size: 1px;
  text-decoration: none;
  border: 0;
  background: url("select2.png") right top no-repeat;
  cursor: pointer;
  outline: 0;
}
/* line 77, SCSS/select2.scss */
.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}
/* line 82, SCSS/select2.scss */
.select2-container .select2-choice div {
  display: block;
  width: 18px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid #aaa;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  -ms-border-radius: 0 4px 4px 0;
  -o-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #cccccc), color-stop(60%, #eeeeee));
  background: -webkit-linear-gradient(bottom, #cccccc 0%, #eeeeee 60%);
  background: -moz-linear-gradient(bottom, #cccccc 0%, #eeeeee 60%);
  background: -o-linear-gradient(bottom, #cccccc 0%, #eeeeee 60%);
  background: linear-gradient(bottom, #cccccc 0%, #eeeeee 60%);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFCCCCCC', endColorstr='#FFEEEEEE');
}
/* line 95, SCSS/select2.scss */
.select2-container .select2-choice div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("select2.png") no-repeat 0 1px;
}
/* line 105, SCSS/select2.scss */
.select2-container.select2-drop-above .select2-choice {
  border-bottom-color: #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #eeeeee), color-stop(90%, #ffffff));
  background: -webkit-linear-gradient(bottom, #eeeeee 0%, #ffffff 90%);
  background: -moz-linear-gradient(bottom, #eeeeee 0%, #ffffff 90%);
  background: -o-linear-gradient(bottom, #eeeeee 0%, #ffffff 90%);
  background: linear-gradient(bottom, #eeeeee 0%, #ffffff 90%);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFEEEEEE', endColorstr='#FFFFFFFF');
}

/* line 114, SCSS/select2.scss */
.select2-drop {
  width: 100%;
  margin-top: -1px;
  position: absolute;
  z-index: 9999;
  top: 100%;
  background: #fff;
  color: #000;
  border: 1px solid #aaa;
  border-top: 0;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  -ms-border-radius: 0 0 4px 4px;
  -o-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}
/* line 127, SCSS/select2.scss */
.select2-drop.select2-drop-above {
  margin-top: 1px;
  border-top: 1px solid #aaa;
  border-bottom: 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.15);
}
/* line 135, SCSS/select2.scss */
.select2-drop.select2-drop-above .select2-search input {
  margin-top: 4px;
}

/* line 141, SCSS/select2.scss */
.select2-search {
  display: inline-block;
  width: 100%;
  min-height: 26px;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
  position: relative;
  z-index: 10000;
  white-space: nowrap;
}
/* line 152, SCSS/select2.scss */
.select2-search input {
  width: 100%;
  height: auto !important;
  min-height: 26px;
  padding: 4px 20px 4px 5px;
  margin: 0;
  outline: 0;
  font-family: sans-serif;
  font-size: 1em;
  border: 1px solid #aaa;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: url("select2.png") no-repeat 100% -22px, -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(85%, #ffffff), color-stop(99%, #eeeeee));
  background: url("select2.png") no-repeat 100% -22px, -webkit-linear-gradient(bottom, #ffffff 85%, #eeeeee 99%);
  background: url("select2.png") no-repeat 100% -22px, -moz-linear-gradient(bottom, #ffffff 85%, #eeeeee 99%);
  background: url("select2.png") no-repeat 100% -22px, -o-linear-gradient(bottom, #ffffff 85%, #eeeeee 99%);
  background: url("select2.png") no-repeat 100% -22px, linear-gradient(bottom, #ffffff 85%, #eeeeee 99%);
}
/* line 166, SCSS/select2.scss */
.select2-search input.select2-active {
  background: url("select2-spinner.gif") no-repeat 100%, -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(85%, #ffffff), color-stop(99%, #eeeeee));
  background: url("select2-spinner.gif") no-repeat 100%, -webkit-linear-gradient(bottom, #ffffff 85%, #eeeeee 99%);
  background: url("select2-spinner.gif") no-repeat 100%, -moz-linear-gradient(bottom, #ffffff 85%, #eeeeee 99%);
  background: url("select2-spinner.gif") no-repeat 100%, -o-linear-gradient(bottom, #ffffff 85%, #eeeeee 99%);
  background: url("select2-spinner.gif") no-repeat 100%, linear-gradient(bottom, #ffffff 85%, #eeeeee 99%);
}

/* line 171, SCSS/select2.scss */
.select2-search-hidden {
  display: block;
  position: absolute;
  left: -10000px;
}

/* line 179, SCSS/select2.scss */
.select2-container-active .select2-choice,
.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* line 186, SCSS/select2.scss */
.select2-dropdown-open .select2-choice {
  border: 1px solid #aaa;
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 1px 0 white inset;
  -moz-box-shadow: 0 1px 0 white inset;
  box-shadow: 0 1px 0 white inset;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #ffffff), color-stop(50%, #eeeeee));
  background: -webkit-linear-gradient(bottom, #ffffff 0%, #eeeeee 50%);
  background: -moz-linear-gradient(bottom, #ffffff 0%, #eeeeee 50%);
  background: -o-linear-gradient(bottom, #ffffff 0%, #eeeeee 50%);
  background: linear-gradient(bottom, #ffffff 0%, #eeeeee 50%);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEEEEEE');
}
/* line 195, SCSS/select2.scss */
.select2-dropdown-open .select2-choice div {
  background: transparent;
  border-left: none;
}
/* line 199, SCSS/select2.scss */
.select2-dropdown-open .select2-choice div b {
  background-position: -18px 1px;
}

/* results */
/* line 207, SCSS/select2.scss */
.select2-results ul.select2-result-sub > li .select2-result-label {
  padding-left: 20px;
}
/* line 211, SCSS/select2.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 40px;
}
/* line 215, SCSS/select2.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 60px;
}
/* line 219, SCSS/select2.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 80px;
}
/* line 223, SCSS/select2.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 100px;
}
/* line 227, SCSS/select2.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 120px;
}
/* line 230, SCSS/select2.scss */
.select2-results ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub ul.select2-result-sub > li .select2-result-label {
  padding-left: 140px;
}

/* results */
/* line 241, SCSS/select2.scss */
.select2-results {
  max-height: 200px;
  padding: 0 0 0 4px;
  margin: 4px 4px 4px 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  /*
  disabled look for already selected choices in the results dropdown
  .select2-disabled.select2-highlighted {
  	color: #666;
  	background: #f4f4f4;
  	display: list-item;
  	cursor: default;
  }
  .select2-disabled {
  	background: #f4f4f4;
  	display: list-item;
  	cursor: default;
  }
  */
}
/* line 249, SCSS/select2.scss */
.select2-results ul.select2-result-sub {
  margin: 0;
}
/* line 252, SCSS/select2.scss */
.select2-results li {
  list-style: none;
  display: list-item;
}
/* line 255, SCSS/select2.scss */
.select2-results li em {
  background: #feffde;
  font-style: normal;
}
/* line 260, SCSS/select2.scss */
.select2-results.select2-result-with-children > .select2-result-label {
  font-weight: bold;
}
/* line 263, SCSS/select2.scss */
.select2-results .select2-result-label {
  padding: 3px 7px 4px;
  margin: 0;
  cursor: pointer;
}
/* line 268, SCSS/select2.scss */
.select2-results .select2-highlighted {
  background: #3875d7;
  color: #fff;
}
/* line 272, SCSS/select2.scss */
.select2-results .select2-highlighted em {
  background: transparent;
}
/* line 278, SCSS/select2.scss */
.select2-results .select2-no-results,
.select2-results .select2-searching,
.select2-results .select2-selection-limit {
  background: #f4f4f4;
  display: list-item;
}
/* line 283, SCSS/select2.scss */
.select2-results .select2-disabled {
  display: none;
}

/* line 302, SCSS/select2.scss */
.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}
/* line 305, SCSS/select2.scss */
.select2-more-results.select2-active {
  background: #f4f4f4 url("select2-spinner.gif") no-repeat 100%;
}

/* disabled styles */
/* line 312, SCSS/select2.scss */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}
/* line 317, SCSS/select2.scss */
.select2-container.select2-container-disabled .select2-choice div {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}
/* line 322, SCSS/select2.scss */
.select2-container.select2-container-disabled .select2-choice abbr {
  display: none;
}

/* multiselect */
/* line 330, SCSS/select2.scss */
.select2-container-multi {
  /* disabled styles */
}
/* line 331, SCSS/select2.scss */
.select2-container-multi .select2-choices {
  height: auto !important;
  height: 1%;
  margin: 0;
  padding: 0;
  position: relative;
  border: 1px solid #aaa;
  cursor: text;
  overflow: hidden;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background: -webkit-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: -moz-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: -o-linear-gradient(top, #eeeeee 1%, #ffffff 15%);
  background: linear-gradient(top, #eeeeee 1%, #ffffff 15%);
}
/* line 341, SCSS/select2.scss */
.select2-container-multi .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  line-height: 13px;
  color: #333;
  cursor: default;
  border: 1px solid #aaaaaa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  background-clip: padding-box;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF4F4F4', endColorstr='#FFEEEEEE');
}
/* line 356, SCSS/select2.scss */
.select2-container-multi .select2-choices .select2-search-choice-close {
  display: block;
  width: 12px;
  height: 13px;
  position: absolute;
  right: 3px;
  top: 4px;
  font-size: 1px;
  outline: none;
  background: url("select2.png") right top no-repeat;
}
/* line 367, SCSS/select2.scss */
.select2-container-multi .select2-choices .select2-search-choice-close :hover {
  background-position: right -11px;
}
/* line 371, SCSS/select2.scss */
.select2-container-multi .select2-choices .select2-search-choice span {
  cursor: default;
}
/* line 374, SCSS/select2.scss */
.select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}
/* line 377, SCSS/select2.scss */
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}
/* line 380, SCSS/select2.scss */
.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}
/* line 384, SCSS/select2.scss */
.select2-container-multi .select2-choices .select2-search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
/* line 388, SCSS/select2.scss */
.select2-container-multi .select2-choices .select2-search-field input {
  height: 15px;
  padding: 5px;
  margin: 1px 0;
  font-family: sans-serif;
  font-size: 100%;
  color: #666;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background: transparent !important;
}
/* line 400, SCSS/select2.scss */
.select2-container-multi .select2-choices .select2-search-field input.select2-active {
  background: white url("select2-spinner.gif") no-repeat 100% !important;
}
/* line 406, SCSS/select2.scss */
.select2-container-multi.select2-container-active .select2-choices {
  border: 1px solid #5897fb;
  outline: none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
/* line 411, SCSS/select2.scss */
.select2-container-multi .select2-search-choice-close {
  left: 3px;
}
/* line 415, SCSS/select2.scss */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #ddd;
  cursor: default;
}
/* line 420, SCSS/select2.scss */
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  padding: 3px 5px 3px 5px;
  border: 1px solid #ddd;
  background-image: none;
  background-color: #f4f4f4;
}
/* line 425, SCSS/select2.scss */
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
}

/* line 432, SCSS/select2.scss */
.select2-locked {
  padding: 3px 5px 3px 5px !important;
}

/* line 436, SCSS/select2.scss */
.select2-default {
  color: #999 !important;
}

/* end multiselect */
/* line 442, SCSS/select2.scss */
.select2-result-selectable .select2-match,
.select2-result-unselectable .select2-result-selectable .select2-match {
  text-decoration: underline;
}

/* line 445, SCSS/select2.scss */
.select2-result-unselectable .select2-match {
  text-decoration: none;
}

/* line 449, SCSS/select2.scss */
.select2-offscreen {
  position: absolute;
  left: -10000px;
}

/* Retina-ize icons */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi) {
  /* line 456, SCSS/select2.scss */
  .select2-search input, .select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice div b {
    background-image: url("select2x2.png") !important;
    background-repeat: no-repeat !important;
    background-size: 60px 40px !important;
  }

  /* line 461, SCSS/select2.scss */
  .select2-search input {
    background-position: 100% -21px !important;
  }
}
