fieldset {
	border: 1px solid $core-border-color;
}

textarea, #{$all-text-inputs}, select[multiple=multiple] {
	background-color: white;
	border: 1px solid $core-border-color;
	box-shadow: $core-box-shadow;

	&:hover {
		border-color: $core-border-color-hover;
	}

	&:focus {
		border-color: $core-border-color-focus;
		box-shadow: $core-box-shadow-focus;
	}
}

label {
	@extend strong;
}