{% extends 'partials/base.html.twig' %}

{% block topbar %}{% endblock %}
{% block navigation %}{% endblock %}

{% block content %}
	<div id="chapter">
    	<div id="body-inner">
    		<h1>{{ 'PLUGIN_ERROR.ERROR'|t }} {{ header.http_response_code }}</h1>
			<p>
				{{ page.content }}
			</p>
		</div>
    </div>
{% endblock %}
