$remove-color: #888 !default;
$remove-hover-color: #555 !default;

$selection-color: #444 !default;

$border-color: #aaa !default;
$border-radius: 4px !default;

$focus-border-color: #5897fb !default;

$container-height: 28px !default;

$selection-arrow-height: $container-height - 2px !default;
$selection-arrow-bg-color: #888 !default;

$selection-bg-color: #fff !default;

$container-placeholder-color: #999 !default;

$container-focus-border-color: blue !default;

$dropdown-bg-color: $selection-bg-color !default;

$results-max-height: 200px !default;

$results-choice-bg-hover-color: #5897fb !default;
$results-choice-fg-hover-color: white !default;

$results-choice-fg-unselectable-color: grey !default;
