$default-remove-color: #999 !default;
$default-remove-hover-color: #333 !default;

$default-selection-color: #444 !default;

$default-border-color: #aaa !default;
$default-border-radius: 4px !default;

$default-focus-border-color: black !default;

$default-selection-arrow-height: $container-height - 2px !default;
$default-selection-arrow-width: $selection-padding-right !default;
$default-selection-arrow-bg-color: #888 !default;

$default-selection-bg-color: #fff !default;

$default-container-placeholder-color: #999 !default;

$default-container-focus-border-color: blue !default;

$default-dropdown-bg-color: $default-selection-bg-color !default;

$default-results-max-height: 200px !default;

$default-results-choice-bg-hover-color: #5897fb !default;
$default-results-choice-fg-hover-color: white !default;

$default-results-choice-fg-unselectable-color: #999 !default;
