.select2-container.select2-theme-default {
  .selection {
    .single-select {
      background-color: #fff;
      border: 1px solid #aaa;
      border-radius: 4px;

      .rendered-selection {
        color: #444;
        line-height: 28px;

        .placeholder {
          color: #999;
        }
      }
    }

    .multiple-select {
      background-color: white;
      border: 1px solid #aaa;
      border-radius: 4px;

      .rendered-selection {
        list-style: none;
        margin: 0;
        padding: 5px;
        padding-bottom: 0;

        .placeholder {
          color: #999;

          float: left;
        }

        .choice {
          background-color: #e4e4e4;

          border: 1px solid #aaa;
          border-radius: 4px;

          float: left;

          margin-right: 5px;
          margin-bottom: 5px;
          padding: 0 5px;

          .remove {
            color: #999;
            display: inline-block;
            font-weight: bold;

            margin-right: 2px;

            &:hover {
              color: #333;
            }
          }
        }
      }
    }
  }

  &.open {
    .selection {
      .single-select,
      .multiple-select {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .dropdown {
    .search {
      input {
        border: 1px solid #aaa;
      }
    }

    .results {
      &> .options {
        max-height: 200px;
        overflow-y: auto;
      }

      .options {
        .option {
          &.group {
            padding: 0;

            .group-label {
              cursor: default;
              display: block;
              padding: 6px;
            }
          }

          &[aria-disabled=true] {
            color: #999;
          }

          &[aria-selected=true] {
            background-color: #ddd;
          }

          &[aria-selected].highlighted {
            background-color: #5897fb;
            color: white;
          }
        }
      }
    }
  }
}
