.select2-container.select2-theme-default {
  .selection {
    .single-select {
      background-color: #eee;
      border: 1px solid #aaa;
      border-radius: 4px;

      .rendered-selection {
        color: #444;
        line-height: 28px;
      }
    }

    .multiple-select {
      background-color: white;
      border: 1px solid #aaa;
      border-radius: 4px;

      .rendered-selection {
        list-style: none;
        margin: 0;
        padding: 5px;
        padding-bottom: 0;

        .choice {
          background-color: #e4e4e4;

          border: 1px solid #aaa;
          border-radius: 4px;

          float: left;

          margin-right: 5px;
          margin-bottom: 5px;
          padding: 0 5px;
        }
      }
    }
  }

  &.open {
    .selection {
      .single-select,
      .multiple-select {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }

  .dropdown {
    .results {
      max-height: 200px;
      overflow-y: scroll;

      .options {
        .option {
          &.selected {
            background-color: #ddd;
          }

          &.highlighted {
            background-color: #5897fb;
            color: white;
          }
        }
      }
    }
  }
}
