---
---
@import "s2-result-repository";
@import "s2-docs-sidenav";
@import "s2-docs-hamburger";
@import "s2-docs-layout";
@import "s2-docs-nav";
@import "s2-docs-footer";
@import "s2-docs-alert";
@import "s2-docs-home";
@import "anchorjs";
@import "jumbotron";
@import "prettify";

.btn-toolbar {
  margin-bottom: 20px;
}

.btn-outline-inverse {
  color: #428BCA;
  background-color: transparent;
  border-color: #428BCA;
  padding: 15px 30px;
  font-size: 20px;
}

.btn-outline-inverse .fa {
  margin-right: 8px;
}

.btn-outline-inverse:hover {
  color: #fff;
  border-color: #428BCA;
  background-color: #428BCA;
}

.version {
  color: #999;
}

.page-header {
  padding-bottom: 19px;
  margin-bottom: 29px;
}

/* Inline code within headings retain the heading's background-color */
h2 code,
h3 code,
h4 code {
  background-color: inherit;
}

h1[id] {
  padding-top: 20px;
  margin-top: 0;
}

/* pre */
pre {
  padding: 9px 14px;
  margin-bottom: 14px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

.s2-docs-headline-example {
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
}
