/* anchor.js */
.anchorjs-link {
  float: left;
  width: 1em;
  height: 1em;
  margin-left: -1.2em;
  opacity: 0;
  color: inherit;
  text-align: center;

  &:link,
  &:visited {
    text-decoration: none;
    color: inherit;
  }
}

.anchorjs-icon {
  font-size: 60%;
  vertical-align: .2em;
}
