.notice-previous {
  padding: 15px 20px;
  color: #777;
  background-color: #FAFAFA;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #E5E5E5;
  a {
    font-weight: bold;
  }
}

.s2-docs-home .jumbotron {
  margin-bottom: 0;
}
