.notice-previous {
  padding: 15px 20px;
  color: #777;
  background-color: #FAFAFA;
  border-bottom: 1px solid #eee;
  a {
    font-weight: bold;
  }
}

.s2-docs-home .jumbotron {
  margin-bottom: 0;
}

#lead {
	text-align: center;
	max-width: 800px;
	margin: 0 auto 80px;
}
