$classic-remove-color: #888 !default;
$classic-remove-hover-color: #555 !default;
$classic-remove-width: 20px !default;

$classic-selection-color: #444 !default;

$classic-border-color: #aaa !default;
$classic-border-radius: 4px !default;

$classic-focus-border-color: #5897fb !default;

$classic-selection-arrow-height: $container-height - 2px !default;
$classic-selection-arrow-bg-color: #ddd !default;

$classic-selection-bg-top-color: white !default;
$classic-selection-bg-bottom-color: #eeeeee !default;

$classic-container-placeholder-color: #999 !default;

$classic-container-focus-border-color: blue !default;

$classic-selection-opened-bg-top-color: $classic-selection-bg-bottom-color !default;
$classic-selection-opened-bg-bottom-color: $classic-selection-bg-top-color !default;

$classic-results-max-height: 200px !default;
$classic-results-nested-padding: 20px !default; //todo unused

$classic-results-choice-bg-hover-color: #3875d7 !default;
$classic-results-choice-fg-hover-color: white !default;

$classic-results-choice-fg-unselectable-color: grey !default;
