<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Select2 JQuery Plugin">
    <meta name="author" content="Igor Vaynberg">

    <link href="bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="prettify/prettify.css" rel="stylesheet"/>
      <style type="text/css">
        .zebra { background-color: #efefef; }

        img.flag { height: 10px; width: 15px; padding-right: 10px; }

        .movie-result td {vertical-align: top }
        .movie-image { width: 60px; }
        .movie-image img { height: 80px; width: 60px;  }
        .movie-info { padding-left: 10px; vertical-align: top; }
        .movie-title { font-size: 1.2em; padding-bottom: 15px; }
        .movie-synopsis { font-size: .8em; color: #888; }
        .select2-highlighted .movie-synopsis { font-size: .8em; color: #eee; }
        .bigdrop.select2-container .select2-results {max-height: 300px;}
        .bigdrop .select2-results {max-height: 300px;}
      </style>


    <!--[if lt IE 9]>
      <script src="js/html5shim.js"></script>
    <![endif]-->

      <script src="js/json2.js"></script>
      <script src="js/jquery-1.7.1.min.js"></script>
      <script src="js/jquery-ui-1.8.20.custom.min.js"></script>
      <script src="js/jquery.mousewheel.js"></script>
      <script src="prettify/prettify.min.js"></script>
      <script src="bootstrap/js/bootstrap.min.js"></script>

      <script>
          $(document).ready(function() {

              function setupExampleCode(id) {
                  var s = $("#script_"+id).html();
                  s = s.replace(/</g, "&lt;");
                  s = s.substr(s.indexOf("\n") + 1);
                  s = s.substr(s.indexOf("\n") + 1);
                  s = s.substr(0, s.lastIndexOf("\n"));
                  s = s.substr(0, s.lastIndexOf("\n"));
                  $("#code_"+id).html(s);
              }

              var i, e;
              for (i = 2; ; i++) {
                  e = $("#script_e" + i);
                  if (e.length == 0) break;
                  setupExampleCode("e" + i);
              }

              prettyPrint();
          });
      </script>

        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-29683190-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>

  </head>

  <body>

  <a href="https://github.com/ivaynberg/select2"><img style="position: absolute; top: 0; right: 0; border: 0; z-index: 2000" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
  <div class="navbar">
      <div class="navbar-inner">
          <div class="container">
              <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
              <ul class="nav">
                  {% assign pages_list = site.pages %}
                  {% assign group = 'navigation' %}
                  {% include pages_list %}
              </ul>
          </div>
      </div>
  </div>

    <div class="container">

      <div class="hero-unit">
        <h1>Select2 {{ page.version }}</h1>
        <p>Select2 is a jQuery based replacement for select boxes.
            It supports searching, remote data sets, and infinite scrolling of results.
            Look and feel of Select2 is based on the excellent
            <a href="http://harvesthq.github.com/chosen/">Chosen</a> library.</p>
            <p>
                <a class="btn btn-primary btn-large" href="https://github.com/ivaynberg/select2">Learn more on GitHub&raquo;</a>
                <a class="btn btn-success btn-large" href="https://github.com/ivaynberg/select2/tags">Download&raquo;</a>
            </p>
      </div>

      <!--
      <div class="row">
          <div class="span12">
              <div class="alert alert-block alert-error">
                  <h4 class="alert-heading">Warning!</h4>
                  This page refers to an unreleased version of Select2 which may be unstable. For the latest stable
                  and previous versions please see links at the top. The code for this version is only available in the <a
                      href="https://github.com/ivaynberg/select2">master branch.</a>
              </div>
          </div>
      </div>
      -->

      {{ content }}


      <section id="about">
          <div class="row">
               <div class="span12"><h2>About</h2></div>
          </div>
          <div class="row">
              <div class="span12">

                  <ul>
                     <li><a href="https://github.com/ivaynberg/select2">Project Site</a></li>
                     <li><a href="https://github.com/ivaynberg/select2/issues">Bug Tracker</a></li>
                     <li><a href="https://github.com/ivaynberg/select2/wiki">Wiki containing example integrations and usages such as Knockout.js, Socket.io, and PHP</a></li>
                     <li><a href="https://groups.google.com/d/forum/select2">Mailing List</a></li>
                  </ul>
              </div>
          </div>

      </section>
       <hr/>
        <footer>
        <p>Select2 is licensed under the <a href="http://www.apache.org/licenses/LICENSE-2.0">Apache Software Foundation License Version 2.0</a>. Coded by Igor Vaynberg.</p>
      </footer>

    </div> <!-- /container -->
  </body>
</html>
