$container-height: 28px !default;

$selection-padding-left: 8px !default;
$selection-padding-right: 20px !default;

$search-dropdown-padding-vertical: 4px !default;
$search-dropdown-padding-horizontal: 4px !default;
$dropdown-results-option-pardding-vertical: 6px !default;
$dropdown-results-option-pardding-horizontal: 6px !default;
$dropdown-z-index: 1051 !default;
$dropdown-bg-color: white !default;

$selection-multiply-min-height: 32px !default;