.select2-container {
  .dropdown {
    background-color: white;

    border: 1px solid #aaa;
    border-radius: 4px;

    box-sizing: border-box;

    display: block;

    position: absolute;
    left: -100000px;
    top: -100000px;

    width: 100%;

    .results {
      display: block;

      .options {
        list-style: none;
        margin: 0;
        padding: 0;

        .option {
          cursor: pointer;
          padding: 6px;

          user-select: none;
          -webkit-user-select: none;
        }
      }
    }
  }

  &.open .dropdown {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    left: 0;
    top: 28px;
  }
}
