.select2-container {
  .dropdown {
    background-color: white;

    border: 1px solid #aaa;
    border-radius: 4px;

    box-sizing: border-box;

    display: block;

    position: absolute;
    left: -100000px;

    width: 100%;

    z-index: 100;

    .search {
      display: block;
      padding: 4px;

      input {
        outline: 0;
        padding: 4px;
        width: 100%;
      }
    }

    .results {
      display: block;

      .options {
        list-style: none;
        margin: 0;
        padding: 0;

        .option {
          padding: 6px;

          user-select: none;
          -webkit-user-select: none;

          &[aria-selected] {
              cursor: pointer;
          }
        }
      }
    }
  }

  &.open .dropdown {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    left: 0;
  }
}
