.select2-container {
  .dropdown {
    background-color: white;

    border: 1px solid #aaa;
    border-radius: 4px;

    box-sizing: border-box;

    display: block;

    max-height: 200px;
    overflow-y: scroll;

    position: absolute;
    left: -100000px;
    top: -100000px;

    width: 100%;

    .results {
      .options {
        list-style: none;
        margin: 0;
        padding: 0;

        .option {
          cursor: pointer;
          padding: 6px;

          &.selected {
            background-color: #ddd;
          }

          &.hovered {
            background-color: darkblue;
            color: white;
          }
        }
      }
    }
  }

  &.open .dropdown {
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    left: 0;
    top: 28px;
  }
}
