.select2-selection--single {
  box-sizing: border-box;

  cursor: pointer;
  display: block;

  height: $container-height;

  user-select: none;
  -webkit-user-select: none;

  .select2-selection__rendered {
    display: block;
    padding-left: $selection-padding-left;
    padding-right: $selection-padding-right;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .select2-selection__clear {
    position: relative;
  }
}

&[dir="rtl"] {
  .select2-selection--single {
    .select2-selection__rendered {
      padding-right: $selection-padding-left;
      padding-left: $selection-padding-right;
    }
  }
}
