@import "mixins/span_z_index";

.select2-selection--single {
  box-sizing: border-box;

  cursor: pointer;
  display: block;

  height: 28px;

  user-select: none;
  -webkit-user-select: none;

  @include span-z-index(3);

  .select2-selection__rendered {
    @include span-z-index(4);
    display: block;
    padding-left: 8px;
    padding-right: 20px;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    .select2-selection__clear {
      @include span-z-index(5 !important);
    }
  }

  .select2-selection__clear {
    position: relative;
  }
}

&[dir="rtl"] {
  .select2-selection--single {
    .select2-selection__rendered {
      padding-right: 8px;
      padding-left: 20px;
    }
  }
}
