.select2-container {
  box-sizing: border-box;

  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;

  @import "single";
  @import "multiple";
}

@import "dropdown";

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;

  // styles required for IE to work

  background-color: #fff;
  filter: alpha(opacity=0);
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

@import "theme/default/layout";
@import "theme/classic/layout";

//TreeView css
.select2-treeview .select2-treeview-triangle{
    border-style: solid;
    width: 0px;
    height: 0px;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
}
.select2-treeview .select2-treeview-down{
    border-width: 7px 5px 0 5px;
    border-color: #888 transparent transparent transparent;
}

.select2-treeview .select2-treeview-right{
    border-color: transparent transparent transparent #888;
    border-width: 5px 0px 5px 7px;
    margin-right: 8px;
}

.select2-treeview-item{
    margin-left: 15px;
}