.select2-container {
  box-sizing: border-box;

  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
}

@import "single";
@import "multiple";

@import "dropdown";

@import "theme/default/layout";
@import "theme/classic/layout";
