<blockquote id="github-contrib"><blockquote><blockquote><blockquote><blockquote>
<p>
    {{ 'THEME_LEARN2_GITHUB_NOTE'|t }}

    {% include 'partials/github_link.html.twig' %}
</p>
</blockquote></blockquote></blockquote></blockquote></blockquote>
